.table {
  border: 1px solid gray;
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
  margin: 5pxpx;
}
.thead {
  background-color: rgb(1, 149, 73);
}

th,
td {
  text-align: left;
  padding: 10px;
}

tr {
  border-bottom: 1px solid gray;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(1, 149, 73);
}
.buttonContainer {
  text-align: center;
}
